*{margin:0;padding:0}
html,body{height: 100%;}
body{background-size:11px 100%;height:100%;}
.container{width:100%;background:url("image/login/bg.jpg") repeat-x 0 0;background-size:11px 100%;}
.container .cont{width:1090px;min-height:800px;margin:0 auto;height: 100%;}
.head{height: 232px;text-align: center;}
.head img{display:inline-block;margin:68px auto;}
.body{height:520px;overflow: hidden;}
.body .left{float:left;width:50%;position: relative}
.body .right{float:right;width:50%;}
.body .left img{position: absolute;}
.body .left i{display: inline-block;width:16px;height:16px;background: white;border-radius:50%;position: absolute}
.body .left .left1{top:0;left:30%;}
.body .left .l1{top:40px;left:60%;}
.body .left .left2{top:35px;right:0}
.body .left .l2{top:220px;right:0}
.body .left .left3{top:280px;right:0}
.body .left .l3{top:450px;left:65%}
.body .left .left4{top:360px;left:30%;}
.body .left .l4{top:380px;left:15%;}
.body .left .left5{top:180px;left:5%;}
.body .left .l5{top:120px;left:18%;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:#999 !important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#999 !important;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:#999 !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#999 !important;
}
.body .right .loginBox{width:380px;height:275px;background:#4b5e6f;border-radius: 30px;float:right;margin-top:20px;padding:28px 24px;box-sizing: border-box}
.body .right .loginBox div{width:100%;height:40px;margin:15px auto;}
.body .right .loginBox div.find{height:20px;line-height: 20px;margin-top:-7px;}
.body .right .loginBox div input[type="text"]{color:#666;font-size:14px;width:100%;height:100%;border:none;outline: none;border-radius: 5px;padding:0 40px;box-sizing: border-box }
.body .right .loginBox div input.count{background:white url("image/login/count.png") no-repeat 10px center}
.body .right .loginBox div input.pwd{background:white url("image/login/pwd.png") no-repeat 10px center}
.body .right .loginBox div i{display: inline-block;width:10px;height: 10px;background: white;}
.body .right .loginBox div{color:white;font-size:12px;line-height: 30px;}
.body .right .loginBox div input[type="checkbox"]{vertical-align: middle; margin-right:10px;background: white;display: inline-block;}
.body .right .loginBox div a{text-decoration: none; color:white;font-size:12px;margin-left:10px; }
.body .right .loginBox div a.findPwd{color:#ef8320;float:right;font-size:12px;}
.body .right .loginBox div button{margin-top:15px; width:100%;height:100%;background:#2da8e1;color:white;font-size: 16px;font-weight: 700; border: none;border-radius: 5px;}
.foot p{width:100%;height:30px;font-size: 14px;text-align: center;color:#074673;margin-top:20px;}
.body .right .loginBox div button.disabled{background:#adcdeb;}