<!DOCTYPE html>
<html ng-app="loanRecheckApp">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="乌鲁木齐市存量房交易系统,乌鲁木齐房产交易,存量房交易系统" />
    <meta name="description" content="乌鲁木齐市存量房交易系统,乌鲁木齐房产交易,存量房交易系统" />
    <link rel="Shortcut icon" href="image/logo.ico">
    <link rel="stylesheet" href="js/paging/paging.css"/>
    <title>乌鲁木齐市存量房交易系统-首页</title>

    <link rel="stylesheet" type="text/css" href="css/countState.css" />
    <script type="text/javascript" src="js/jquery.min-1.9.1.js"></script>
    <script type="text/javascript" src="js/angular/angular-1.2.27.js"></script>
    <script src="js/base-config/base-xm.js"></script>
    <script src="js/base-config/base.js"></script>
    <script src="js/loanAbout/controller-loanRecheck.js"></script>
</head>
<body ng-controller="loanRecheckCtrl">
<div class="tb_container">
    <div class="top-xm fund-div">
        <p class="p_after">
            <a href="" class="afterArrow">抵押贷款</a>
            <a href="" class="afterArrow">贷款申请</a>
            <a href="" class="afterArrow">提交页面</a>
            <a href="#" class="reload">刷新</a>
        </p>
    </div>
    <div class="table-border sign-div fund-border loanCheck">
        <p class="blue_p">申请人信息</p>
        <div class="cond-container">
            <div class="single-item readonly">
                <div class="split">
                    <div class="item">
                        <label>姓名：</label>
                        <div>
                            <input required ng-model="dataModel.proposerInfo.name" type="text"/>
                        </div>
                    </div>
                    <div class="item">
                        <label>电话：</label>
                        <div>
                            <input required ng-model="dataModel.proposerInfo.phone" type="text" />
                        </div>
                    </div>
                    <div class="item">
                        <label>证件类型：</label>
                        <div>
                            <input required ng-model="dataModel.proposerInfo.identity" type="text" />
                        </div>
                    </div>
                </div>
                <div class="split">
                    <div class="item">
                        <label>月收入(税前)：</label>
                        <div>
                            <input required ng-model="dataModel.proposerInfo.earning" type="text"/>
                        </div>
                    </div>
                    <div class="item">
                        <label>证件号码：</label>
                        <div>
                            <input required ng-model="dataModel.proposerInfo.identityNum" type="text" />
                        </div>
                    </div>
                    <div class="item">
                        <label>公积金账号：</label>
                        <div>
                            <input required ng-model="dataModel.proposerInfo.fundNum" type="text" />
                        </div>
                    </div>
                </div>
                <div class="split">
                    <div class="item">
                        <label>工作单位：</label>
                        <div>
                            <input required ng-model="dataModel.proposerInfo.workUnit" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="split">
                    <div class="item">
                        <label>联系地址：</label>
                        <div>
                            <input required ng-model="dataModel.proposerInfo.contact" type="text"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="blue_p">银行信息</p>
        <div class="cond-container">
            <div class="single-item readonly">
                <div class="split">
                    <div class="item">
                        <label>申请银行：</label>
                        <div>
                            <input required ng-model="dataModel.bankInfo.applyBank" type="text"/>
                        </div>
                    </div>
                    <div class="item">
                        <label>申请金额：</label>
                        <div>
                            <input required ng-model="dataModel.bankInfo.applyMoney" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="blue_p">房源信息</p>
        <div class="cond-container">
            <div class="single-item readonly">
                <div class="split">
                    <div class="item">
                        <label>权利人名称：</label>
                        <div>
                            <input required ng-model="dataModel.houseInfo.code" type="text"/>
                        </div>
                    </div>
                    <div class="item">
                        <label>权利人名称：</label>
                        <div>
                            <input required ng-model="dataModel.houseInfo.obligeeName" type="text" />
                        </div>
                    </div>
                </div>
                <div class="split">
                    <div class="item">
                        <label>证件类型：</label>
                        <div>
                            <input required ng-model="dataModel.houseInfo.identityType" type="text"/>
                        </div>
                    </div>
                    <div class="item">
                        <label>证件号码：</label>
                        <div>
                            <input required ng-model="dataModel.houseInfo.identityNum" type="text" />
                        </div>
                    </div>
                </div>
                <div class="split">
                    <div class="item">
                        <label>房权证号：</label>
                        <div>
                            <input required ng-model="dataModel.houseInfo.code" type="text"/>
                        </div>
                    </div>
                    <div class="item">
                        <label>产权面积：</label>
                        <div>
                            <input required ng-model="dataModel.houseInfo.houseArea" type="text" />
                        </div>
                    </div>
                    <div class="item">
                        <label>套内面积：</label>
                        <div>
                            <input required ng-model="dataModel.houseInfo.insideArea" type="text" />
                        </div>
                    </div>
                </div>
                <div class="split">
                    <div class="item">
                        <label>分摊面积：</label>
                        <div>
                            <input required ng-model="dataModel.houseInfo.outsideArea" type="text"/>
                        </div>
                    </div>
                    <div class="item">
                        <label>总层数：</label>
                        <div>
                            <input required ng-model="dataModel.houseInfo.totalLayer" type="text" />
                        </div>
                    </div>
                    <div class="item">
                        <label>所在层：</label>
                        <div>
                            <input required ng-model="dataModel.houseInfo.layer" type="text" />
                        </div>
                    </div>
                </div>
                <div class="split">
                    <div class="item">
                        <label>房屋地址：</label>
                        <div>
                            <input required ng-model="dataModel.houseInfo.houseLocation" type="text"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="blue_p">不动产证信息</p>
        <div class="cond-container">
            <div class="single-item sSingleItem">
                <label>不动产证上传：</label>
                <div class="submitDiv"></div>
                <label class="label2"><span class="redStar">*</span>上传图片分辨率不要低于1080P</label>
            </div>
            <div class="single-item confirm-div2">
                <label>抵押确认书：</label>
                <button class="sendUpFile">上传</button>
                <label class="label2"><span class="redStar">*</span>请上传PDF、Word、doc等格式文件</label>
            </div>
            <div class="single-item sSingleItem">
                <label>他项权利证明：</label>
                <div class="submitDiv submitDiv2"></div>
            </div>
            <div class="single-item checkDiv">
                <label>当前状态：</label>
                <input type="radio" checked="checked" name="status"/><label class="color">未受理</label>
            </div>
        </div>
            <div>
                <div class="split-xm margin-r">
                    <button ng-click="ui.loanRecheck()">提交</button>
                </div>
            </div>
        </div>

        <div class="foot">

        </div>
    </div>
<script>
    $(function() {
        /*table样式设置*/
        $('tr:even').css('background', '#f5f5f5');
        $('.tr_th').css('background', '#d7e5f0');
    });
</script>

</body>
</html>