<!DOCTYPE html>
<html ng-app="signContractApp">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="乌鲁木齐市存量房交易系统,乌鲁木齐房产交易,存量房交易系统" />
    <meta name="description" content="乌鲁木齐市存量房交易系统,乌鲁木齐房产交易,存量房交易系统" />
    <link rel="Shortcut icon" href="image/logo.ico">

    <title>乌鲁木齐市存量房交易系统-首页</title>

    <link rel="stylesheet" type="text/css" href="css/countState.css" />
    <script type="text/javascript" src="js/jquery.min-1.9.1.js"></script>
    <script type="text/javascript" src="js/angular/angular-1.2.27.js"></script>
    <script type="text/javascript" src="js/storage.js"></script>
    <script src="js/My97DatePicker/WdatePicker.js"></script>
    <script src="data/data.js"></script>
    <script src="js/base-config/base-xm.js"></script>
    <script src="js/signContract/controller-sign.js"></script>
    <style type="text/css">
        .bg {background-color:black;position: fixed;top:0;left: 0;right: 0;bottom: 0;z-index: 10;}
        .preview {position: absolute;z-index: 100;top:30px;left: 50%;margin-left: -666px;padding-right: 0;margin-bottom: 30px;}
        .close-constract {position: absolute;top:0;right: 0;height: 36px;line-height: 36px;width: 36px;cursor: pointer;z-index: 100;text-align: center;font-size: 24px;}
    </style>
</head>
<body ng-controller="signContractCtrl" ng-cloak>
<form ng-show="state.mainPage" name="baseForm" novalidate>
    <div class="tb_container">
        <div class="top-xm fund-div">
            <p class="p_after">
                <a href="" class="afterArrow">网签受理</a>
                <a href="" class="afterArrow">网签信息</a>
                <a href="#" class="reload">刷新</a>
            </p>
        </div>
        <div class="table-border sign-div fund-border ">
            <p class="blue_p">检索信息</p>
            <div class="cond-container">

                <div class="single-item">
                    <div class="split confirm-div">
                        <button ng-click="ui.searchData()" class="confirm">检索信息</button>
                        <div class="item">
                            <label>房源验证码：</label>
                            <div>
                                <input required ng-model="dataModel.houseInfo.code" type="text" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <p class="blue_p">卖方信息</p>
            <div class="cond-container">
                <button ng-click="ui.addSeller()" class="add_btn contract-add">新增</button>
                <div ng-repeat="item in dataModel.sellerInfo" class="single-item">
                    <div class="split">
                        <div class="item">
                            <label>姓名：</label>
                            <div>
                                <input required ng-model="item.name" type="text" />
                            </div>
                        </div>
                        <div class="item">
                            <label>联系电话：</label>
                            <div>
                                <input required ng-model="item.phone" type="text"/>
                            </div>
                        </div>
                        <div class="item">
                            <label>地址：</label>
                            <div>
                                <input required ng-model="item.address" type="text"  />
                            </div>
                        </div>
                    </div>
                    <div class="split">
                        <div class="item">
                            <label>身份证号：</label>
                            <div>
                                <input required ng-model="item.identity" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="blue_p">买方信息</p>
            <div class="cond-container">
                <button ng-click="ui.addBuyer()" class="add_btn contract-add">新增</button>
                <div ng-repeat="item in dataModel.buyerInfo" class="single-item">
                    <div class="split">
                        <div class="item">
                            <label>姓名：</label>
                            <div>
                                <input required ng-model="item.name" type="text"/>
                            </div>
                        </div>
                        <div class="item">
                            <label>联系电话：</label>
                            <div>
                                <input required ng-model="item.phone" type="text" />
                            </div>
                        </div>
                        <div class="item">
                            <label>地址：</label>
                            <div>
                                <input required ng-model="item.address" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="split">
                        <div class="item">
                            <label>身份证号：</label>
                            <div>
                                <input required ng-model="item.identity" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="blue_p">房屋信息</p>
            <div class="cond-container">
                <div class="single-item">
                    <div class="split">
                        <div class="item">
                            <label>房屋坐落：</label>
                            <div>
                                <input required ng-model="dataModel.houseInfo.address" type="text"/>
                            </div>
                        </div>
                        <div class="item">
                            <label>所有权证号：</label>
                            <div>
                                <input required ng-model="dataModel.houseInfo.rightNum" type="text"  />
                            </div>
                        </div>
                        <div class="item">
                            <label>登记时间：</label>
                            <div>
                                <input required ng-model="dataModel.houseInfo.regTime" type="text"  />
                            </div>
                        </div>
                    </div>
                    <div class="split">
                        <div class="item">
                            <label>总层数：</label>
                            <div>
                                <input required ng-model="dataModel.houseInfo.totalLevel"  type="text"/>
                            </div>
                        </div>
                        <div class="item">
                            <label>建筑面积(m²)：</label>
                            <div>
                                <input required ng-model="dataModel.houseInfo.area" type="text" />
                            </div>
                        </div>
                        <div class="item">
                            <label class="more">套内建筑面积&ensp;(m²)：</label>
                            <div>
                                <input required ng-model="dataModel.houseInfo.areaInner" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="split">

                        <div class="item">
                            <label>规划用途：</label>
                            <div>
                                <select required ng-model="dataModel.houseInfo.use" ng-options="item.key as item.value for item in dictionary.useMethods">
                                </select>
                                <i>▼</i>
                            </div>
                        </div>
                        <div class="item">
                            <label>房屋性质：</label>
                            <div>
                                <select required ng-model="dataModel.houseInfo.houseCharacter" ng-options="item.key as item.value for item in dictionary.houseCharacters">

                                </select>
                                <i>▼</i>
                            </div>
                        </div>
                        <div class="item">
                            <label>地号：</label>
                            <div>
                                <input required ng-model="dataModel.houseInfo.addressNum" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="split">

                        <div class="item">
                            <label>房屋转让方式：</label>
                            <div>
                                <select required  ng-model="dataModel.houseInfo.houseMethod" ng-options="item.key as item.value for item in dictionary.houseMethods" >

                                </select>
                                <i>▼</i>
                            </div>
                        </div>
                        <div class="item">
                            <label>土地使用年限：</label>
                            <div>
                                <input required ng-model="dataModel.houseInfo.deadline" type="text"/>
                            </div>
                        </div>
                        <div class="item">
                            <label class="more">土地使用权取得&ensp;方式：</label>
                            <div>
                                <select required ng-model="dataModel.houseInfo.getMethod" ng-options="item.key as item.value for item in dictionary.houseMethods"></select>
                                <i>▼</i>
                            </div>
                        </div>
                    </div>
                    <div class="split">

                        <div class="item">
                            <label>房屋结构：</label>
                            <div>
                                <select required  ng-model="dataModel.houseInfo.houseStructure" ng-options="item.key as item.value for item in dictionary.houseStructures" >

                                </select>
                                <i>▼</i>
                            </div>
                        </div>
                    </div>
                    <div class="split">
                        <div class="item item-other">
                            <label>附记：</label>
                            <div>
                                <textarea required ng-model="dataModel.houseInfo.otherMsg"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p class="blue_p">交易信息</p>
            <div class="cond-container">
                <div class="single-item">
                    <div class="split">
                        <div class="item">
                            <label>房屋成交总价：</label>
                            <div>
                                <input required ng-model="dataModel.dealInfo.houseTotalMoney" type="text"/>
                            </div>
                        </div>
                        <div class="item">
                            <label>住宅成交价格：</label>
                            <div>
                                <input required ng-model="dataModel.dealInfo.dwellingMoney"  type="text"  />
                            </div>
                        </div>
                        <div class="item">
                            <label class="more">非住宅成交价&ensp;格：</label>
                            <div>
                                <input required ng-model="dataModel.dealInfo.undwellingMoney"  type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="split">
                        <div class="item">
                            <label>已支付定金：</label>
                            <div>
                                <input required ng-model="dataModel.dealInfo.payMoney" type="text" />
                            </div>
                        </div>
                        <div class="item">
                            <label>资金监管金额：</label>
                            <div>
                                <input required ng-model="dataModel.dealInfo.lookMoney" type="text"  />
                            </div>
                        </div>
                    </div>
                    <div class="split">
                        <div class="item">
                            <label>房款付清次数：</label>
                            <div>
                                <select required ng-switch="ui.changeNum()"  ng-model="dataModel.dealInfo.payNum" ng-options="item.key as item.value for item in dictionary.payNums">
                                </select>
                                <i>▼</i>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="item in dataModel.dealInfo.payInfo" class="split">
                        <div class="item">
                            <label class="more">第{{ $index+1 }}次付款金&ensp;额：</label>
                            <div>
                                <input required ng-model="item.price"  type="text" />
                            </div>
                        </div>
                        <div class="item">
                            <label>最后付款时间：</label>
                            <div>
                                <input required ng-model="item.time"  type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="blue_p">合同信息</p>
            <div class="cond-container">
                <div class="split">
                    <div class="item">
                        <label>税费承担：</label>

                        <div>
                            <input required ng-model="dataModel.contractInfo.taxMoney" type="text"/>
                        </div>
                    </div>
                    <div class="item">
                        <label>放款交割方式：</label>

                        <div>
                            <select required ng-model="dataModel.contractInfo.sellMethod" ng-options="item.key as item.value for item in dictionary.sellMethods">
                             </select>
                            <i>▼</i>
                        </div>
                    </div>
                    <div class="item">
                        <label>放款交割时间：</label>

                        <div>
                            <input required ng-model="dataModel.contractInfo.sellTime" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="split">
                    <div class="item">
                        <label>违约日期：</label>
                        <div>
                            <select required ng-model="dataModel.contractInfo.breakTime" ng-options="item.key as item.value for item in dictionary.breakTimes">
                             </select>
                            <i>▼</i>
                        </div>
                    </div>
                    <div class="item">
                        <label>违约金：</label>
                        <div>
                            <input required ng-model="dataModel.contractInfo.breakMoney" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="split">
                    <div class="item">
                        <label>争议处理：</label>

                        <div>
                            <select required ng-model="dataModel.contractInfo.handleMethod" ng-options="item.key as item.value for item in dictionary.handleMethods">
                             </select>
                            <i>▼</i>
                        </div>
                    </div>
                    <div class="item">
                        <label>中介促成：</label>

                        <div>
                            <select required ng-model="dataModel.contractInfo.middlePeo" ng-options="item.key as item.value for item in dictionary.middleAgents">
                             </select>
                            <i>▼</i>
                        </div>
                    </div>
                </div>
                <div class="split">
                    <div class="item item-other">
                        <label>其他：</label>
                        <div>
                            <textarea required ng-model="dataModel.contractInfo.otherMsg" class="big-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="split-xm margin-r">
                        <button ng-click="ui.cancel()">取消</button>
                        <button ng-disabled="!baseForm.$valid" ng-click="ui.save()">保存</button>
                        <button ng-click="ui.contractPre()">预览</button>
                    </div>
                </div>
            </div>
            <div class="foot"></div>
        </div>
    </div>
</form>



<div ng-show="state.cover" class="bg"></div>
<div ng-show="state.contractPreStatus" class="tb_container preview">
        
        <a ng-click="ui.closePre()" class="close-constract" href="javascript:void(0);">&times;</a>

        <div class="table-border sign-div fund-border">
            <p class="blue_p">网签合同</p>
            <div class="contract-container">
                <h3>房屋买卖合同</h3>
                <h5>(合同编号：201707050001)</h5>
                <table class="table_1">
                    <tr ng-repeat="item in dataModel.sellerInfo">
                        <td class="fr">甲方(卖方)：</td>
                        <td><span ng-bind="item.name"></span></td>
                        <td class="fr">联系电话：</td>
                        <td><span ng-bind="item.phone"></span></td>
                    </tr>
                    <tr ng-repeat="item in dataModel.buyerInfo">
                        <td class="fr">乙方(买方)：</td>
                        <td><span ng-bind="item.name"></span></td>
                        <td class="fr">联系电话：</td>
                        <td><span ng-bind="item.phone"></span></td>
                    </tr>
                </table>
                <p>
                    根据《中华人民共和国合同法》、《中华人民共和国城市房地产挂立法》及其他有关法律、法规
                    的规定，甲乙双方在平等、自愿、诚实信用的基础上，就房屋转让事项达成如下协议，以资遵守。
                </p>
                <h4>
                    一、房屋基本情况
                </h4>
                <div>
                    <table class="table_2">
                        <tr>
                            <td>房屋坐落</td>
                            <td ng-bind="dataModel.houseInfo.address" colspan="6"><!--沙依巴克区平顶山东一路238号江南嘉园小区18栋5层1单元502--></td>

                        </tr>
                        <tr>
                            <td>所有权证号</td>
                            <td ng-bind="dataModel.houseInfo.rightNum" colspan="2"></td>
                            <td colspan="2">登记时间</td>
                            <td ng-bind="dataModel.houseInfo.regTime" colspan="2"></td>
                        </tr>
                        <tr>
                            <td rowspan="2">房屋状况</td>
                            <td>总层数</td>
                            <td>建筑面积(m²)</td>
                            <td>套内建筑面积(m²)</td>
                            <td>规划用途</td>
                            <td>房屋性质</td>
                            <td>房屋结构</td>
                        </tr>
                        <tr>
                            <td ng-bind="dataModel.houseInfo.totalLevel"></td>
                            <td ng-bind="dataModel.houseInfo.area"></td>
                            <td ng-bind="dataModel.houseInfo.areaInner"></td>
                            <td ng-bind="dictionary.useMethods[dataModel.houseInfo.use].value"></td>
                            <td ng-bind="dictionary.houseCharacters[dataModel.houseInfo.houseCharacter].value"></td>
                            <td ng-bind="dictionary.houseStructures[dataModel.houseInfo.houseStructure].value"></td>
                        </tr>
                        <tr>
                            <td rowspan="2">土地状况</td>
                            <td colspan="2">地号</td>
                            <td colspan="2">土地使用权取得方式</td>
                            <td colspan="2">土地使用年限</td>
                        </tr>
                        <tr>
                            <td colspan="2"><span ng-bind="dataModel.houseInfo.addressNum"></span></td>
                            <td colspan="2"><span ng-bind="dictionary.houseMethods[dataModel.houseInfo.getMethod].value"></span></td>
                            <td colspan="2"><span ng-bind="dataModel.houseInfo.deadline"></span></td>
                        </tr>
                        <tr>
                            <td>附记</td>
                            <td colspan="6">
                                <p ng-bind="dataModel.houseInfo.otherMsg"></p>
                            </td>

                        </tr>
                    </table>
                </div>
                <h4>二、房屋转让方式为：<span ng-bind="dictionary.houseMethods[dataModel.houseInfo.houseMethod].value"></span><!--<input type="text" value="买卖"/></h4>-->
                <h4>三、房屋成交价格、付款方式及税费承担</h4>
                <div class="p">
                    1、经甲乙双方协商一致，该房屋成交总价人民币￥<span ng-bind="dataModel.dealInfo.houseTotalMoney"></span><!--<input type="text" value="1,000,000"/>-->元，(大写)
                    <input type="text"/>。其中住宅成交价格￥<span ng-bind="dataModel.dealInfo.dwellingMoney"></span><!--<input type="text"/>-->元，非住宅成交价格￥<span ng-bind="dataModel.dealInfo.undwellingMoney"></span><!--<input type="text"/>-->元。
                </div>
                <div class="p">
                    2、乙方已支付定金(不高于房屋成交价的20%)人民币￥<span ng-bind="dataModel.dealInfo.payMoney"></span><!--<input type="text" value=""/>-->元，(大写)
                    <input type="text"/>。双方约定房款在<span ng-bind="dictionary.breakTimes[dataModel.contractInfo.breakTime].value"></span><!--<input type="text"/>-->
                    <!--<select>
                        <option value="1"> 一次付清</option>
                        <option value="1"> 两次付清</option>
                    </select>--><span ng-bind="dataModel.dealInfo.payNum"></span>次付清，定金在最后一次付款时抵充。
                </div>
                <div class="p">
                    3、资金监管金额：<span ng-bind="dataModel.dealInfo.lookMoney"></span><!--<input type="text" value=""/>-->元，付款次数：<span ng-bind="dictionary.payNums[dataModel.dealInfo.payNum].value"></span><!--<input class="short" type="text"/>-->次
                     <div>
                        <table class="table_3">
                            <tr ng-repeat="item in dataModel.dealInfo.payInfo">
                                <td>第{{ $index+1 }}次付款金额 <span ng-bind="item.price"></span>
                                <td>最后付款时间 <span ng-bind="item.time"></span>
                            </tr>
                        </table>
                     </div>
                </div>
                <div class="p">
                    4、因房屋买卖发生的相关税费承担：
                    <!--<div class="p">
                        <textarea name=""></textarea>
                    </div>-->
                    <p>卖方承担全部税费<span ng-bind="dataModel.contractInfo.taxMoney"></span></p>
                </div>
                <h4>
                    四、放款交割方式
                </h4>
                <div class="p">
                    放款交割采用以下<span ng-bind="dictionary.sellMethods[dataModel.contractInfo.sellMethod].value"></span>

                </div>
                <h4>五、放款交割时间</h4>
                <div class="p">
                    双方同意于<span ng-bind="dataModel.contractInfo.sellTime"></span>前由甲方将上述房屋正式交付给乙方。房屋所有权转移，
                    该房屋占用范围内的土地使用权同时转移。
                </div>
                <h4>六、权属瑕疵保证及有关声明</h4>
                <p>
                   甲方保证上述房屋权属清楚，不存在第三方主张优先购买权的情形，若放生与甲方有关的产权或债权债务纠纷等，概由甲方负责清理，
                    并承担民事诉讼责任，因此给乙方造成的经济损失，甲方负责赔偿。<br/>
                    乙方对上述房屋具体情况已充分了解。
                </p>
                <h4>七、违约责任</h4>
                <div class="p">
                    乙方中途毁约不可向甲方索还定金；甲方中途毁约，应在毁约之日起<span ng-bind="dictionary.breakTimes[dataModel.contractInfo.breakTime].value"></span>将定金退换乙方，另给付乙方相当于定金数额的违约金。
                </div>
                <div class="p">
                    乙方不能按期向甲方付清购房款，每逾期一日，由乙方向甲方支付应付放款的万分之<span ng-bind="dataModel.contractInfo.breakMoney"></span>的违约金；甲方不能按期向乙方交付房屋，每逾期一日，由甲方向乙方
                    支付房屋总价的万分之<span ng-bind="dataModel.contractInfo.breakMoney"></span>的违约金。
                </div>
                <h4>
                    八、双反约定的其他事项
                </h4>
                <div class="p">
                    <p ng-bind="dataModel.contractInfo.otherMsg"></p>
                </div>
                <h4>九、争议处理</h4>
                <div class="p">
                    本合同在履行中发生争议，当事人应协商解决；协商不成的，
                    <span ng-bind="dictionary.handleMethods[dataModel.contractInfo.handleMethod].value"></span>
                </div>
                <h4>十、上诉房屋转让经<span ng-bind="dictionary.middleAgents[dataModel.contractInfo.middlePeo].value"></span>中介促成。</h4>
                <h4>十一、本合同未尽事项，甲乙双方可另行签订补充协议书，补充协议书为本合同不可分割的组成部分，具有同等法律效力。</h4>
                <h4>十二、本合同一式<span>2</span>份，甲乙双方各执一份，其余送相关部门。</h4>
                <h4>十三、本合同自双方签订之日起生效。</h4>
                <table class="table_4">
                    <tr>
                        <td>
                            甲方(卖方) (签章)：
                        </td>
                        <td>
                            乙方(买方) (签章)：
                        </td>
                    </tr>
                </table>
                <table class="table_5">
                    <tr>
                        <td class="fr">[法定代表人]：</td>
                        <td>王大锤</td>
                        <td class="fr">[法定代表人]：</td>
                        <td>王大锤</td>
                    </tr>
                    <tr>
                        <td class="fr">[委托代理人]：</td>
                        <td>王大锤</td>
                        <td class="fr">[委托代理人]：</td>
                        <td>王大锤</td>
                    </tr>
                </table>
                <table class="table_6">
                   <tr>
                       <td class="tip">附：缴费信息</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                   </tr>
                    <tr>
                        <td>税票号码：</td>
                        <td></td>
                        <td>税票金额：</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>交易签章：</td>
                        <td></td>
                    </tr>
                </table>
                <p class="contract_p">合同签订日期：<span ng-bind="dataModel.decisionTime"></span></p>
            </div>
            <div class="foot">

            </div>
        </div>
    </div>




    <div ng-show="state.callbackStatus" class="callback-cover">
        <div class="callback-container">
            <a ng-click="ui.closeBack()" class="closeCallback">&times;</a> 
            <img src="image/xy/t.jpg"/>
            <strong ng-bind="dataModel.code"></strong>
            <h1>房屋转让网签合同回执单</h1>
            <table class="table1">
                <tr>
                    <td>合同编号</td>
                    <td ng-bind="dataModel.code" colspan="6"></td>
                </tr>
                <tr>
                    <td>房源坐落</td>
                    <td ng-bind="dataModel.houseInfo.address" colspan="6"></td>
                </tr>
                <tr>
                    <td>网签备案时间</td>
                    <td ng-bind="dataModel.siteTime" colspan="6"></td>
                </tr>
                <tr>
                    <td>合同金额（元）</td>
                    <td ng-bind="dataModel.dealInfo.houseTotalMoney" colspan="2"></td>
                    <td>转让方式</td>
                    <td ng-bind="dictionary.houseMethods[dataModel.houseInfo.houseMethod].value" colspan="3"></td>
                </tr>
                <tr>
                    <td class="table-title" colspan="7">卖方信息</td>
                </tr>
                <tr>
                    <td colspan="2">产权人</td>
                    <td colspan="2">证件号码</td>
                    <td colspan="2">产权证号</td>
                    <td>登记日期</td>
                </tr>
                <tr ng-repeat="item in dataModel.sellerInfo">
                    <td ng-bind="item.name" colspan="2"></td>
                    <td ng-bind="item.identity" colspan="2"></td>
                    <td ng-bind="dataModel.houseInfo.rightNum" colspan="2"></td>
                    <td ng-bind="dataModel.houseInfo.regTime"></td>
                </tr>
                <tr>
                    <td class="table-title" colspan="7">买方信息</td>
                </tr>
                <tr>
                    <td colspan="2">购房人</td>
                    <td colspan="2">证件类型</td>
                    <td colspan="3">证件号码</td>
                </tr>
                <tr ng-repeat="item in dataModel.buyerInfo">
                    <td ng-bind="item.name" colspan="2"></td>
                    <td colspan="2">身份证</td>
                    <td ng-bind="item.identity" colspan="3"></td>
                </tr>
                <tr>
                    <td class="table-title" colspan="7">房屋信息</td>
                </tr>
                <tr>
                    <td>总层数</td>
                    <td>所在层</td>
                    <td>幢号</td>
                    <td>房号</td>
                    <td>建筑面积</td>
                    <td>建筑年限</td>
                    <td>房屋结构</td>
                </tr>
                <tr>
                    <td ng-bind="dataModel.houseInfo.totalLevel">24</td>
                    <td>8</td>
                    <td>写字楼</td>
                    <td>办公1</td>
                    <td ng-bind="dataModel.houseInfo.area"></td>
                    <td ng-bind="dataModel.houseInfo.deadline">2013</td>
                    <td ng-bind="dictionary.houseStructures[dataModel.houseInfo.houseStructure].value"></td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td ng-bind="dataModel.houseInfo.otherMsg" colspan="6"></td>
                </tr>
            </table>
            <div class="callback-article">
                <p>1.合同条款经办人已当面告知我们买卖双方。</p>
                <p>2.我们买卖双方已确认网上《乌鲁木齐市房屋转让合同》上记载的内容，同意提交此合同办理交易手续。</p>
                <p>3.因密码泄漏造成损失或违背以上承诺引起纠纷的，责任自负。</p>
            </div>
            <table class="table2">
                <tr>
                    <td>买方：</td>
                    <td>经办人：王皓雪</td>
                </tr>
                <tr>
                    <td>卖方：</td>
                </tr>
            </table>
        </div>
    </div>


</body>
</html>