<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="乌鲁木齐市存量房交易系统,乌鲁木齐房产交易,存量房交易系统" />
    <meta name="description" content="乌鲁木齐市存量房交易系统,乌鲁木齐房产交易,存量房交易系统" />
    <link rel="Shortcut icon" href="image/logo.ico">

	<title>乌鲁木齐市存量房交易系统-房源验证</title>

	<link rel="stylesheet" type="text/css" href="css/frame.css" />
	<script type="text/javascript" src="js/jquery.min-1.9.1.js"></script>
	<script type="text/javascript" src="js/angular/angular-1.2.27.js"></script>
	<script type="text/javascript" src="js/storage.js"></script>
	<script type="text/javascript" src="js/base-config/base.js"></script>
	<script type="text/javascript" src="js/verification.js"></script>
</head>
<body ng-app="verificationApp">
	<div ng-controller="veryInfoCtrl" class="inner-container">
		
		<div class="top-xm">
	        <p class="p_after">
	            <a href="">房源公示</a>
	            <a href="">房源验证</a>
	            <a href="#" class="reload">刷新</a>
	        </p>
	    </div>

	    <form name="baseForm" novalidate>
		<div class="very-container">


			<div class="header">
				<h1>房源验证</h1>
			</div>

			<div class="cond-container">
				<div class="single-item">
					<div class="split">
						<div class="item">
							<label>名&ensp;&ensp;&ensp;&ensp;称：</label>
							<div>
								<input ng-disabled="!state.isShowSave" required ng-model="dataModel.data_1.user_name" type="text" name="" />
							</div>
						</div>
						<div class="item">
							<label>性&ensp;&ensp;&ensp;&ensp;质：</label>
							<div>
								<select ng-disabled="!state.isShowSave" required ng-model="dataModel.data_1.user_character" ng-options="item.key as item.value for item in dictionary.character"></select>
								<i>▼</i>
							</div>
						</div>
						<div class="item">
							<label>证件类型：</label>
							<div>
								<select ng-disabled="!state.isShowSave" required ng-model="dataModel.data_1.user_card_type" ng-options="item.key as item.value for item in dictionary.identity"></select>
								<i>▼</i>
							</div>
						</div>
					</div>
					<div class="split">
						<div class="item">
							<label>证件号码：</label>
							<div>
								<input ng-disabled="!state.isShowSave" required ng-model="dataModel.data_1.user_card_num" type="text" name="" />
							</div>
						</div>
						<div class="item">
							<label>民&ensp;&ensp;&ensp;&ensp;族：</label>
							<div>
								<select ng-disabled="!state.isShowSave" required ng-model="dataModel.data_1.user_nation" ng-options="item.key as item.value for item in dictionary.nation"></select>
								<i>▼</i>
							</div>
						</div>
						<div class="item">
							<label>联系地址：</label>
							<div>
								<input ng-disabled="!state.isShowSave" required ng-model="dataModel.data_1.user_address" type="text" name="" />
							</div>
						</div>
					</div>
				</div>
				<div class="single-item obligee">

					<div ng-repeat="item in dataModel.data_2.obligee">
						<div class="split">
							<div class="item">
								<label>权利人名称：</label>
								<div>
									<input ng-disabled="!state.isShowSave" required ng-model="item.obligee_name" type="text" name="" />
								</div>
							</div>
							<div class="item">
								<label>证件类型：</label>
								<div>
									<select ng-disabled="!state.isShowSave" required ng-model="item.obligee_card_type" ng-options="item.key as item.value for item in dictionary.identity"></select>
									<i>▼</i>
								</div>
							</div>
							<div class="item">
								<label>证件号码：</label>
								<div>
									<input ng-disabled="!state.isShowSave" required ng-model="item.obligee_card_num" type="text" name="" />
								</div>
							</div>
						</div>
					</div>

					<div class="split">
						<div class="item">
							<button ng-disabled="!state.isShowSave" ng-click="ui.addUser()">增加权利人</button>
						</div>
					</div>

					<div class="split">
						<div class="item">
							<label>产权证号：</label>
							<div>
								<input ng-disabled="!state.isShowSave" required ng-model="dataModel.data_2.common.obligee_right_num" type="text" name="" />
							</div>
						</div>
						<div class="item">
							<label>产权面积：</label>
							<div>
								<input ng-disabled="!state.isShowSave" required ng-model="dataModel.data_2.common.obligee_right_area" type="text" name="" />
							</div>
						</div>
						<div class="item">
							<label>套内面积：</label>
							<div>
								<input ng-disabled="!state.isShowSave" required ng-model="dataModel.data_2.common.obligee_inner_area" type="text" name="" />
							</div>
						</div>
					</div>
						<div class="split">
						<div class="item">
							<label>分摊面积：</label>
							<div>
								<input ng-disabled="!state.isShowSave" required ng-model="dataModel.data_2.common.obligee_outer_area" type="text" name="" />
							</div>
						</div>
						<div class="item">
							<label>总&ensp;层&ensp;数：</label>
							<div>
								<input ng-disabled="!state.isShowSave" required ng-model="dataModel.data_2.common.obligee_level_count" type="text" name="" />
							</div>
						</div>
						<div class="item">
							<label>所&ensp;在&ensp;层：</label>
							<div>
								<input ng-disabled="!state.isShowSave" required ng-model="dataModel.data_2.common.obligee_level" type="text" name="" />
							</div>
						</div>
					</div>
					<div class="split">
						<div class="item item-long">
							<label>房屋地址：</label>
							<div>
								<input ng-disabled="!state.isShowSave" required ng-model="dataModel.data_2.common.obligee_address" type="text" name="" />
							</div>
						</div>
					</div>
				</div>
				
			</div>


			<div class="cover">

				<div class="cond-container">
					<div class="check">
						<div class="select">
							<select ng-disabled="!state.isShowSave" ng-model="dataModel.data_3.searchCond" ng-options="item.key as item.value for item in dictionary.searchCond"></select>
							<i>▼</i>
						</div>
						<input ng-disabled="!state.isShowSave" type="text" name="" />
						<div class="mohu">
							<input ng-disabled="!state.isShowSave" type="checkbox" name="" />
							模糊查询
						</div>
						<input ng-disabled="!state.isShowSave" type="text" name="" />
						<button ng-disabled="!state.isShowSave" ng-click="ui.searchClick()">检索</button>
					</div>
				</div>

				<div class="table-container">
					<label>房源验证结果信息</label>
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>查封状态</th>
								<th>冻结状态</th>
								<th>抵押状态</th>
								<th>预告状态</th>
								<th>存量房签约状态</th>
							</tr>
						</thead>
						<tbody>
							<!--<tr>
								<td>1</td>
								<td>未封杀</td>
								<td>未冻结</td>
								<td>未抵押</td>
								<td></td>
								<td>未签约</td>
							</tr>-->
							<tr ng-show="dataModel.data_3.searchResult.sealUp">
								<td>1</td>
								<td>{{ dataModel.data_3.searchResult.sealUp }}</td>
								<td>{{ dataModel.data_3.searchResult.freeze }}</td>
								<td>{{ dataModel.data_3.searchResult.pledge }}</td>
								<td>{{ dataModel.data_3.searchResult.foreshow }}</td>
								<td>{{ dataModel.data_3.searchResult.sign }}</td>
							</tr>
							<tr ng-show="!dataModel.data_3.searchResult.sealUp">
								<td colspan="6">暂无检索数据</td>
							</tr>

						</tbody>
					</table>
				</div>

			</div>

			<div class="ot-container">
				<div class="ot-top">
					<div class="item">
						<label>交易类型：</label>
						<div>
							<input ng-disabled="!state.isShowSave" type="radio" name="type" /><label>委托交易</label>
							<input ng-disabled="!state.isShowSave" type="radio" name="type" /><label>自行交易</label>
						</div>
					</div>
					<div class="item">
						<label>验证是否通过：</label>
						<div>
							<input required type="radio" ng-disabled="true" ng-model="dataModel.data_4.isPass" value="0" /><label>是</label>
							<input required type="radio" ng-disabled="true" ng-model="dataModel.data_4.isPass" value="1" /><label>否</label>
						</div>
					</div>
					<div class="item">
						<label>是否挂牌：</label>
						<div>
							<input ng-disabled="!state.isShowSave" type="radio" name="isover" /><label>是</label>
							<input ng-disabled="!state.isShowSave" type="radio" name="isover" /><label>否</label>
						</div>
					</div>
				</div>
				<div class="ot-top">
					<div class="item">
						<label>房源验证码：</label>
						<div class="code">
							<input required ng-disabled="!state.isShowSave" ng-model="dataModel.other.code" type="text" name="" />
						</div>
					</div>
					<button ng-click="ui.createCode()" ng-disabled="!state.isShowSave">生成验证码</button>
				</div>

				<div class="ot-top">
					<div class="item item-textarea">
						<label>备&ensp;&ensp;&ensp;&ensp;注：</label>
						<div>
							<textarea ng-disabled="!state.isShowSave"></textarea>
						</div>
					</div>
				</div>

			</div>

			<div class="btn-container ot-btn">
				<button ng-show="state.isShowSave" ng-disabled="!baseForm.$valid" ng-click="ui.save()">保存</button>
			</div>


			<div class="footer"></div>

		</div>
		</form>

	</div>
</body>
</html>